/* importe primeiro */
@import "./dashboard.css";
@import "./history.css";
@import "./create-exam.css";
@import "./navbar.css";
@import "./results.css";
@import "./play.css";
@import "./admin/admin-question-create.css";
@import "./admin/admin-question-edit.css";
@import "./admin/admin-question-list.css";
@import "./profile.css";
@import "./login.css";


/* depois as diretivas do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;